body {
  font-family: var(--main-font);
  color: var(--primary-dark-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.hero-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: 1.1805555556;
  letter-spacing: 0.05em;
  color: var(--primary-light-color);
}

.general-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
}

.general-title--dark {
  color: var(--primary-dark-color);
}

.general-title--light {
  color: var(--primary-light-color);
}

.general-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.general-uppertitle--dark {
  color: var(--primary-dark-color);
}

.general-uppertitle--light {
  color: var(--secondary-light-color);
}

.general-dscr {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.general-dscr--dark {
  color: var(--secondary-dark-color);
}

.general-dscr--light {
  color: var(--secondary-light-color);
}

.general-text {
  font-size: 14px;
  line-height: 1.9;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-color);
}

.price__inner-item {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--secondary-light-color);
}

.benefits__quantity {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--primary-dark-color);
}

.benefits__description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  text-align: center;
  color: var(--primary-dark-color);
}

.benefits__plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: var(--primary-accent-color);
}

.barbers__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-dark-color);
}

.barbers__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-accent-color);
}

:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-dark-color: rgba(48, 48, 48, 1);
  --secondary-dark-color: rgba(85, 85, 85, 1);
  --primary-light-color: rgba(255, 255, 255, 1);
  --secondary-light-color: rgba(157, 164, 189, 1);
  --primary-accent-color: rgba(255, 108, 0, 1);
  --dark-bg-color: rgba(25, 28, 38, 1);
  --light-bg-color: rgba(247, 247, 247, 1);
}

.barbers__sm-icons {
  fill: var(--primary-dark-color);
}

.barbers__sm-icons:hover,
.barbers__sm-icons:focus {
  fill: var(--primary-accent-color);
}

.contacts {
  background-color: var(--dark-bg-color);
}

.header {
  background-color: var(--dark-bg-color);
}

.header__link,
.header__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.1em;
  color: var(--primary-light-color);
}

.header__link:hover,
.header__link:focus,
.header__tel:hover,
.header__tel:focus {
  color: var(--primary-accent-color);
}

.hero {
  background-color: var(--dark-bg-color);
}

.price {
  background-color: var(--dark-bg-color);
}

.main-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--primary-accent-color);
}

.main-btn--dark {
  color: var(--primary-light-color);
}

.main-btn--light {
  color: var(--primary-dark-color);
}

.slider-controls__btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: var(--secondary-light-color);
  background-color: transparent;
  border: none;
}

.slider-controls__btn:hover,
.slider-controls__btn:focus {
  color: var(--primary-light-color);
}

.sm__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.2em;
  cursor: pointer;
  color: var(--primary-dark-color);
}

.sm__link:hover,
.sm__link:focus {
  color: var(--primary-accent-color);
}/*# sourceMappingURL=main.css.map */