.test__container {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: rgb(243, 242, 247);
  overflow: hidden;
}

// .test__container:hover .test__item {
//   opacity: 1;
// }

// .test__container:hover::before {
//   position: absolute;
//   top: 0;
// }

// .test__container::before {
//   content: "";
//   display: inline-block;
//   position: absolute;
//   top: -100%;
//   // left: -100%;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(144, 228, 20, 0.9);
// }

// .test__item {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 300px;
//   height: 100px;
//   background-color: rgb(60, 27, 207);
//   opacity: 0;
// }

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 165, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;

  // pointer-events: none;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 500px;
  height: 300px;
  border-radius: 40px;
  background-color: beige;
  padding: 15px;

  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.opi-btn {
  position: relative;
  min-width: 100px;
  min-height: 30px;
  background-color: bisque;
  border: none;
  border-radius: 5px;
  padding: 10px 10px 10px 50px;
  margin: 50px 500px;
  overflow: hidden;

  transition-property: background-color;
  transition-duration: 2000ms;
  transition-timing-function: linear;
}

.opi-btn:hover {
  background-color: beige;
}

.opi-btn-1 {
  position: absolute;
  left: 20px;
  transform: translate(0%, 0%);
  transition-property: transform;
  transition-duration: 1000ms;
  transition-timing-function: linear;
}

.opi-btn-2 {
  position: absolute;

  left: 20px;
  transform: translate(0%, 180%);

  transition-property: transform;
  transition-duration: 1000ms;
  transition-timing-function: linear;
}

.opi-btn:hover .opi-btn-1 {
  transform: translate(0%, -180%);
  transition-property: transform;
  transition-duration: 2000ms;
  transition-timing-function: linear;
}

.opi-btn:hover .opi-btn-2 {
  transform: translate(0%, 0%);
  transition-property: transform;
  transition-duration: 2000ms;
  transition-timing-function: linear;
}

.no-scroll {
  overflow: hidden;
}
