.contacts {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--dark-bg-color);
  background-image: url(../images/contacts/contacts-bg@1x_lg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts__container {
  display: flex;
  flex-basis: 50%;
}

.contacts__left-side {
  padding: 0 40px;
  flex-basis: 50%;
}

.contacts__right-side {
  padding: 0 100px;
  flex-basis: 50%;
}

.contacts-group__link {
  font-style: normal;
  font-size: 18px;
  line-height: calc(30 / 18);

  letter-spacing: 0.02em;

  color: var(--secondary-light-color);
}

.contacts-group__item {
  margin-bottom: 20px;
}

.address-icon {
  fill: currentColor;
}
