// MAIN - BTN

.main-btn {
  /* Позиционирование */

  /* Блочная модель */
  padding: 12px 20px;
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;

  /* Типографика */
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  /* Отображение */
  background-color: transparent;
  border: 1px solid var(--primary-accent-color);
  border-radius: 25px;

  /* Прочее */
  cursor: pointer;
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--primary-accent-color);
}

.main-btn--dark {
  color: var(--primary-light-color);
}

.main-btn--light {
  color: var(--primary-dark-color);
}

.main-btn--center {
  display: block;
  margin: 0 auto;
}

// SLIDER - BTN
.slider-controls__btn {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;

  color: var(--secondary-light-color);
  background-color: transparent;

  border: none;
}

.slider-controls__btn:hover,
.slider-controls__btn:focus {
  color: var(--primary-light-color);
}
