.hero-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--primary-light-color);
}

// можно было section-title
.general-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.general-title--dark {
  color: var(--primary-dark-color);
}

.general-title--light {
  color: var(--primary-light-color);
}

.general-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.general-uppertitle--dark {
  color: var(--secondary-dark-color);
}

.general-uppertitle--light {
  color: var(--secondary-light-color);
}

.general-dscr {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
}

.general-dscr--dark {
  color: var(--secondary-dark-color);
}

.general-dscr--light {
  color: var(--secondary-light-color);
}
